

/* nav bar section */
.nav {
    background-color: rgb(37, 35, 35);
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
  }

.navbar-collapse li a {
    margin-left: 65px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.navbar-collapse li a:hover {
    border-bottom: 2px solid orange;
}

.navbar-brand {
    margin-left: 60px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.navbar-brand span {
    color: blue;
}
.navbar-brand span:hover{
    color: orange;
}

/* intro section */
.intro-section {
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
    background: url("images/portback1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding-top: 130px;
    padding-left: 160px;
    padding-bottom: 120px;
    color: white;

}
.intro-section img {
    border-radius: 100%;
    height: 600px;
    width: 600px;
    margin-left: -400px;
    
}
.title h1 {
    font-size: 55px;
}
.title h2 {
    font-size:35px;
}
.title span {
    color: blue;
    position: absolute;
}
.title button {
    width: 200px;
    height: 70px;
    font-size: 24px;
    margin-top: 100px;
    background-color: transparent;
    color: white;
    border: 2px solid orange;
}

/* about section */

.about {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.about-section {
    padding-top: 30px;
    background-image: url("images/aboutbk.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.about-section h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 45px;
}
.about img {
    border-radius: 100%;
    width: 350px;
    height: 350px;
}
.card {
    /* text-align: center; */
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid rgba(255, 166, 0, 0.452);
}
.about h5 {
    color: orange;
    font-size: 30px;
}


/* projects section */
.projects {
    justify-content: space-around;
    margin-top: 30px;
}
.projects h3 {
    text-align: center;
    color: rgba(247, 176, 43, 0.87);
    font-size: 30px;
}
.project1 {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 15%;
    box-shadow:  0 10px rgba(7, 7, 224, 0.26);
}
.completed-projects h1{
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.completed-projects h1 span {
    color: orange;
}
.completed-projects {
    padding-bottom: 40px;
    background-color: rgba(245, 245, 220, 0.178);
}
.completed-projects h4 {
    color: rgb(49, 37, 37);
}
.completed-projects p, ul li {
    font-size: 19px;
}
/* footer section */

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.links {
    
}
.footer-design {
    margin-right: 20px;
    color: white;
    padding-top: 40px;
}
.links ul li {
    list-style: none;
    padding: 10px;
}

.links ul li a {
    text-decoration: none;
    color: white;
}

.links ul li a:hover{
    color: blue;
    border-bottom: 2px solid orange;
}
.footer-bottom {
    margin-top: 50px;
    display: flex;
    border-top: 2px solid orange;
    padding-top: 15px;
}
footer {
    background-color: rgb(8, 14, 32);
}
.mail {
    width: 350px;
    height: 40px;
}
.subscribe {
    width: 250px;
    margin-left: -12px;
    height: 41px;
    background-color: rgb(240, 158, 8);
}
form {
    text-align: center;
}
footer img {
    height: 450px;
    width: 500px;
}
.social-links {
    align-items: flex-end;
    margin-left: 600px;
}
.social-links a{
    justify-content: flex-end;
    padding-left: 20px;
}
